.feed {
  min-height: $default-min-height;

  &__title {
    margin: 0 auto;
    width: 100%;
    margin-bottom: $margin-3;
    text-align: center;
  }
}

@include desktop {
  .feed__title {
    width: 800px;
  }
}