<main class="container">
    <div class="login">
        <div class="login__container">
            <h1 class="login__title title">Login</h1>
            <%= form_with(url: admin_sessions_path, local: true, class: 'login__form form') do |f| %>
                    <%= f.text_field :email, class: 'field field__text', placeholder: 'Email' %>
                    <%= f.password_field :password, class: 'field field__password', placeholder: 'Password' %>
                    <%= f.submit "Enter", class: 'login__button button button--primary' %>
            <% end %>
        </div>
    </div>
</main>

