<main class="author">
    <div class="container">
        <div class="author__header">
            <div>
                <div class="author__circle">
                    <%= image_tag(load_author_avatar(@author.account.email), alt: "author image", class: "author__image") %>
                </div>
            </div>
            <div class="author__name">
                <p><%= @author.name %></p>
            </div>
        </div>
        <p class="author__posts title--sm title--bold">My Articles</p>
        <% for post in @posts %>
            <%= render 'admin/posts/item', post: post %>
        <% end %>
    </div>
</main>
