<main class="author">
    <div class="container">
        <%= render 'authors/profile', author: @author %>

        <% if not @posts.empty? %>
            <h1 class="author__title"># Latest posts</h1>
        <% end %>

        <% for post in @posts %>
            <%= render 'admin/posts/item', post: post %>
        <% end %>
    </div>
</main>

<% content_for :head do %>
 <%= tag.meta(name:"description", content: "#{@author.name} profile") %>
 <%= tag.meta(name:"author", content: @author.name) %>
<% end %>