$dark-color: #191919;
$light-color: #F9F9F9;
$primary-color: #5B22FF;
$alert-color: #FF5252;

//Font
$dark-font-color: $dark-color;
$light-font-color: $light-color;

//Button
$primary-button-bg-color: $primary-color;

