@import '../base/tokens';

.author {
    min-height: calc(100vh - 200px);
    max-height: 100%;

    &__header {
        display: flex;
        align-items: center;
    }

    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border: 5px solid $primary-color;
        border-radius: 50%;
    }

    &__image {
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 50%;
    }

    &__name {
        font-size: $font-size-title-sm;
        font-weight: $font-weight-semi-bold;
        padding: 0 20px;
    }

    &__posts {
        margin: 45px 0 40px 0;
    }
}
