@import '../base/tokens';

.coffpad-buttons {
    background: white;
    padding: 15px 29px;

    button {
        background: white;
        padding: 15px;
        font-size: $font-size-4;
        font-weight: bold;
        outline: none
    }
}
