@import '../base/_mixins.scss';
@import '../base/_tokens.scss';

.posts {
    min-height: calc(100vh - 200px);
}

.posts__title {
    margin-bottom: 20px;
}

.posts__left {
    margin-bottom: 20px;
    ul {
        list-style: none;
    }
}

.posts__right {
    display: none;
}

.posts__card {
    margin-bottom: 20px;
}

@include desktop {
    .posts__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
    }
    .posts__right {
        display: flex;
        flex-direction: column;
    }

    .posts__new-button {
        margin-bottom: 40px;
    }

    .posts__welcome {
        max-width: 500px;
    }
}


.post-form {
    min-height: calc(100vh - 200px);
    .field__text-area {
        padding: 2em 40px;
        min-height: calc(100vh - 440px);
    }

    &__header {
        display: flex;
        background: white;
        flex-direction: column;
    }

    &__actions {
        padding: 10px 40px;
    }
}

@include desktop {
    .post-form {
        .field__text-area {
            min-height: calc(100vh - 420px);
        }

        .field__title{
            height: 60px;
            padding: 1em 40px;
        }

        &__header {
            flex-direction: row;
            align-items: center;
        }

        &__actions {
            padding: 20px 40px;
            width: 10%;
        }
    }
}
