@import '../base/mixins';

.login {
  min-height: calc(100vh - 280px);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__form {
    width: 100%;
    max-width: 400px;
    > input {
        margin-bottom: 24px;
    }
  }

  &__button {
    margin: 24px 0;
  }
}

@include tablet {
  .login__container {
    justify-content: center;
    height: 100%;
  }
}
