<div class="item">
    <%= link_to post_path(post), class: "item__action", action: 'go' do %>
        <h3 class="item__title"> <%= post.title %></h3>
        <p class="item__body"><%= limit_text(post.body) %></p>
        <p class="item__date"><%= pretty_date(post.created_at) %></p>
    <% end %>
</div>
