<div class="post-item">
    <p class="post-item__title"><%= post.title %></p>
    <p class="post-item__body"><%= limit_text(post.body) %></p>
    <p class="post-item__date"><%= pretty_date(post.created_at) %></p>
</div>
