.posts {
    min-height: $default-min-height;

    &__title {
        margin-bottom: $margin-2;
    }
    
    &__left {
        margin-bottom: $margin-2;
        ul {
            list-style: none;
        }
    }
    
    &__right {
        display: none;
    }

    &__empty {
        width: 100%;
        display: flex;
        flex-direction: column;

        .posts__welcome {
            margin-top: $margin-4;
        }
    }
    
    &__card {
        margin-bottom: $margin-5;
    }
}

@include desktop {
    .posts__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
    }
    .posts__right {
        display: flex;
        flex-direction: column;
    }

    .posts__new-button {
        margin-bottom: $margin-5;
    }

    .posts__empty {
        .posts__welcome {
            margin-top: 0;
        }
    }
    
    .posts__welcome {
        max-width: 500px;
    }
}