.posts {
    min-height: $default-min-height;
}

.posts__title {
    margin-bottom: $margin-2;
}

.posts__left {
    margin-bottom: $margin-2;
    ul {
        list-style: none;
    }
}

.posts__right {
    display: none;
}

.posts__card {
    margin-bottom: $margin-5;
}

@include desktop {
    .posts__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
    }
    .posts__right {
        display: flex;
        flex-direction: column;
    }

    .posts__new-button {
        margin-bottom: $margin-5;
    }

    .posts__welcome {
        max-width: 500px;
    }
}