<main class="feed">
    <div class="container">
        <div class="hero">
            <h1 class="feed__title title title--lg">Take a seat and enjoy! </h1>
            <p class="feed__title title title--xs">Community driven roadmaps, articles and resources for developers. Sign up for occasional updates on new roadmaps, updates and guides</p>
        </div>
        <% for post in @posts %>
            <%= render 'admin/posts/item', post: post %>
        <% end %>
    </div>
</main>
