<main class="feed">
    <div class="container">
        <div class="hero">
            <h1 class="feed__title title title--lg">Take a seat and enjoy! </h1>
            <p class="feed__title title title--xs">Coffee, tea or water doesn't matter, just have a drink, take a break and read an article!</p>
        </div>
        <% for post in @posts %>
            <%= render 'admin/posts/item', post: post %>
        <% end %>
    </div>
</main>

<% content_for :head do %>
 <%= tag.meta(name:"description", content: "coffeebreak") %>
 <%= tag.meta(name:"keywords", content: "coffee break, developer, engineering, computer science, technology") %>
<% end %>
