<main class="feed">
    <div class="container">
        <h1 class="feed__title title title--lg">Take a seat and enjoy! </h1>
        <% for post in @posts %>
            <%= render 'admin/posts/item', post: post %>
        <% end %>
    </div>
</main>
