<main class="feed">
    <div class="container">
        <div class="hero">
            <h1 class="feed__title title title--lg">Take a seat and enjoy! </h1>
            <p class="feed__title title title--xs">I present the coffee break a blog made by a developer for other developers.</p>
        </div>
        <% for post in @posts %>
            <%= render 'admin/posts/item', post: post %>
        <% end %>
    </div>
</main>
