<main class="feed">
    <div class="container">
        <div class="hero">
            <h1 class="feed__title title title--lg">Take a seat and enjoy! </h1>
            <p class="feed__title title title--xs">Coffee, tea or water doesn't matter, just have a drink, take a break and read an article!</p>
        </div>
        <% for post in @posts %>
            <%= render 'admin/posts/item', post: post %>
        <% end %>
    </div>
</main>

<% content_for :head do %>
 <%= tag.meta(name:"description", content: "If you like to read good articles about technology, system design, backend development, so this site was made to you. Coffee Break is a site created by a developer with the intention of share acknowledgment, so take a seat and enjoy!") %>
 <%= tag.meta(name:"keywords", content: "coffee break, technology, system design, backend development") %>
<% end %>
