.article {

    font-size: $default-font-size;

    > h2 {
        font-size: $font-size-4;
        font-weight: $font-weight-medium;
        margin: $margin-4 0 $margin-3 0;
    }

    > p {
        margin-bottom: $margin-4;
        line-height: $line-height-2;
        font-size: $font-size-5;
        color: $gray-color;
    }

    strong {
        font-weight: $font-weight-bold;
    }

    em {
        font-style: italic;
    }

    > ul {
        margin-left: 18px;
        margin-bottom: $margin-4;
    }

    > blockquote {
        border-left: 4px solid $primary-color;
        padding-left: 20px;
        color: $gray-color;
        font-size: $font-size-5;
        margin-bottom: $margin-4;
        line-height: $line-height-2;
    }

    > pre {
        display: flex;
        width: 100%;
        font-size: $font-size-5;
        margin-bottom: $margin-4;
        line-height: $line-height-2;
        background: $dark-color;
        border-radius: 5px;
        overflow: scroll;
    }

    code {
        width: 100%;
        margin: 20px;
        font-family: monospace;
        color: $light-color;
    }
}
