.article {

    font-size: $default-font-size;

    > h1, h2, h3, h4 {
        font-weight: $font-weight-bold;
    }

    > h2 {
        font-size: 3.5em;
        margin: $margin-6 0 $margin-4 0;
    }

    > h3 {
        font-size: 2.5em;
        margin: $margin-6 0 $margin-3 0;
    }

    > p {
        margin-bottom: $margin-4;
        line-height: $line-height-2;
        font-size: $font-size-5;
        color: darken($gray-color, 10%);
    }

    p img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        border-radius: $default-radius;
    }

    b, strong {
        font-weight: $font-weight-bold;
    }

    p em, i {
        font-style: italic;
    }

    > ul, ol {
        display: block;
        margin-bottom: $margin-4;
        font-size: $font-size-5;
        color: $dark-color;
        text-align: left;
        list-style-position: inside;
    }

    > blockquote {
        border-left: 4px solid $primary-color;
        padding-left: 20px;
        color: $gray-color;
        font-size: $font-size-5;
        margin-bottom: $margin-4;
        line-height: $line-height-2;
    }

    > pre {
        display: flex;
        width: 100%;
        font-size: $font-size-5;
        margin-bottom: $margin-4;
        line-height: $line-height-2;
        background: $dark-color;
        border-radius: $default-radius;
        overflow: scroll;
        padding: 20px;

        > code {
            color: $light-color;
            background: none;
        }
    }

    code {
        width: 100%;
        font-family: monospace;
        color: $light-color;
        background: $primary-color;
        padding: 0 5px 0 5px;
        margin: 0 5px 0 5px;
        border-radius: $default-radius;
    }

    > table {
        width: 100%;
        margin: $margin-6 0 $margin-4 0;
        color: darken($gray-color, 10%);
        border-collapse: collapse;

        th {
            border: 1px solid darken($gray-color, 10%);
            font-weight: $font-weight-bold;
            color: $dark-color;
            padding: 10px;
            margin: 0;
            text-align: start;
            font-size: $font-size-6;
        }

        td {
            border: 1px solid darken($gray-color, 10%);
            padding: 10px;
            font-size: $font-size-5;
        }
    }

    a {
        color: $dark-color;
        text-decoration: none;

        &:hover {
            color: $primary-color;
        }
    }
}

@include desktop {
    p img {
        max-width: 50%;
    }
}
