.article {

    font-size: $default-font-size;

    > h2 {
        font-size: $font-size-4;
        font-weight: $font-weight-medium;
        margin: $margin-4 0 $margin-3 0;
    }

    > p {
        margin-bottom: $margin-4;
        line-height: $line-height-2;
        font-size: $font-size-5;
        color: $gray-color;
    }

    p img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        border-radius: $default-radius;
    }

    b, strong {
        font-weight: $font-weight-bold;
    }

    p em, i {
        font-style: italic;
    }

    > ul, ol {
        display: block;
        margin-bottom: $margin-4;
        font-size: $font-size-5;
        color: $dark-color;
        text-align: left;
        list-style-position: inside;
    }

    > blockquote {
        border-left: 4px solid $primary-color;
        padding-left: 20px;
        color: $gray-color;
        font-size: $font-size-5;
        margin-bottom: $margin-4;
        line-height: $line-height-2;
    }

    > pre {
        display: flex;
        width: 100%;
        font-size: $font-size-5;
        margin-bottom: $margin-4;
        line-height: $line-height-2;
        background: $dark-color;
        border-radius: $default-radius;
        overflow: scroll;
    }

    code {
        width: 100%;
        margin: 20px;
        font-family: monospace;
        color: $light-color;
    }
}

@include desktop {
    p img {
        max-width: 50%;
    }
}
