.coffpad-buttons {
    background: $light-color;

    button {
        background: $light-color;
        padding: 10px 15px 10px 0;
        font-size: $font-size-1;
        font-weight: bold;
        outline: none
    }
}
