.button {
    display: inline-block;
    background: transparent;
    padding: 0.7em 2em;
    border-radius: $default-radius;
    text-decoration: none;
    cursor: pointer;
    font-size: $font-size-3;
    font-weight: bold;
    border: 2px solid $dark-color;

    &--primary {
        background: $primary-button-bg-color;
        color: $light-font-color
    }

    &--secondary {
        border-color: $primary-color;
        background: white;
        color: $primary-color;
    }

    &--block{
        width: 100%;
    }
}
