@import '../base/tokens';

.coffpad-buttons {
    background: white;

    button {
        background: white;
        padding: 10px 15px 10px 0;
        font-size: $font-size-1;
        font-weight: bold;
        outline: none
    }
}
