@import '../base/_tokens.scss';
@import '../base/_mixins.scss';

.field-group {
    display: flex;
    flex-direction: column;

    .field {
        display: block;
        border: 2px solid $dark-color;
        border-radius: $default-radius;
        font-weight: $font-weight-medium;

        &--paper {
            height: 100%;
            border-radius: 0px;
            border: none;

            &::placeholder {
                color: $gray-color;
            }
        }
    }

    &__error {
        margin: 0.3em 0.5em;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-1;
        color: $alert-color;
        text-transform: capitalize;
    }

    &--paper{
        width: 100%;
    }
}

.field__text,
.field__password,
.field__text-area,
.field__title {
  font-size: $font-size-3;
  padding: 1em;

  &::placeholder {
    color: $dark-color;
  }
}

.field__title {
    padding: 1.5em;
    font-size: $font-size-title-sm;
}

.field_with_errors {
    .field__text, .field__password {
        border-color: $alert-color;
    }
}

@include desktop {
    .field__title {
        font-size: $font-size-title;
    }
}
