@import '../base/tokens';

.field {
  border: 2px solid $dark-color;
  border-radius: $default-raius;
  font-weight: 500;
}

.field__text, .field__password {
  font-size: $font-size-3;
  padding: 1em;

  &::placeholder {
    color: $dark-color;
  }
}
