.field-group {
    display: flex;
    flex-direction: column;

    .field {
        display: block;
        border: 2px solid $dark-color;
        border-radius: $default-radius;
        font-weight: $font-weight-medium;
    }

    &__error {
        margin: 0.3em 0.5em;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-1;
        color: $alert-color;
        text-transform: capitalize;
    }
}

.field__text,
.field__password,
.field__text-area,
.field__title {
  font-size: $font-size-3;
  padding: 1em;
  resize: none;
  outline: none;

  &::placeholder {
    color: $dark-color;
  }
}

.field_with_errors {
    .field__text, .field__password {
        border-color: $alert-color;
    }
}
