@import '../base/tokens';

.message {
	width: 100%;
	min-height: 50px;
	height: auto;

	> div {
		min-height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 0;
		font-size: $default-font-size;
	}

	&--alert {
		color: $light-color;
		background: $alert-color;
	}

	&__text {
		max-width: $default-screen-size;
		padding: 0 20px;
		font-size: $font-size-3;
		text-align: center;
	}
}
