.post-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    &__action {
        text-decoration: none;
    }

    &__title {
        text-decoration: none;
        font-size: $font-size-6;
        font-weight: $font-weight-medium;

        &:hover {
            color: $primary-color;
        }
    }

    &__body {
        font-size: $font-size-3;
        line-height: 1.5em;
        margin: 20px 0;
        text-align: justify;
    }

    &__date {
        font-size: $font-size-2;
    }

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

.post {
    min-height: $default-min-height;
    margin-bottom: 40px;

    &__title {
        font-size: $font-size-title;
        font-weight: $font-weight-medium;
        margin: 50px 0 20px -3px;
    }

    &__header {
        margin-bottom: 40px;
    }

    &__body {
        font-size: $font-size-3;
        line-height: 1.5em;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
    }

    &__date {
        font-size: $font-size-3;
        font-weight: 500;
    }
}
