@import '../base/_tokens.scss';
@import '../base/_mixins.scss';

.title {
    &--sm {
        font-size: $font-size-title-sm;
    }

    &--md {
        font-weight: $font-weight-medium;
        font-size: $font-size-title;
    }

    &--lg {
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-title;
    }

    &--em {
        color: $primary-color;
    }

    &--bold {
        font-weight: $font-weight-bold;
    }
}

@include desktop {
    .title {
        &--md {
            font-size: 4em;
            font-weight: $font-weight-medium;
        }
    }
}
