@import './base/tokens';
@import './base/mixins';

@import './components/button';
@import './components/item';
@import './components/card';
@import './components/field';
@import './components/footer';
@import './components/link';
@import './components/menu';
@import './components/message';
@import './components/typography';
@import './components/article';
@import './components/coffpad';
@import './components/hero';

@import './pages/admin/posts/form';
@import './pages/admin/posts/index';
@import './pages/sessions/auth';
@import './pages/posts/index';
@import './pages/posts/show';
@import './pages/authors/show';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Montserrat', serif;
}

body {
    background-color: $light-color;
}

.container {
    max-width: $default-screen-size;
    margin: 0 auto;
    padding: 0 20px;
    font-size: $default-font-size;
}

@include phone {
    .container {
        font-size: 8px;
    }
}
