<% if entity.errors.full_messages.any? %>
    <% entity.errors.full_messages.each do |error_message| %>
        <div class="message">
            <div class="message__container message--alert">
                <button class="message__button">close</button>
                <p class="message__text"><%= error_message %></p>
            </div>
        </div>
    <% end %>
<% end %>
